name: test_versioning

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

jobs:
  test_vX:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2
          restore-keys: |
            ${{ runner.os }}-nimble-v2

      - uses: jiro4989/setup-nim-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Print Nim version
        run: nim -v
      - name: Print Nimble version
        run: nimble -v
      - name: Run build test
        run: nimble install -Y nimjson
      - name: Run command
        run: nimjson -h
